.logo {
    padding: 15px 0;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
}

.logo:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: hsl(0, 0%, 100%)
}

.logo a.logo-mini {
    opacity: 1;
    float: left;
    width: 30px;
    text-align: center;
    margin-left: 23px;
    margin-right: 15px;
    color: #fff;
}

.logo a.logo-normal {
    display: block;
    opacity: 1;
    transform: translateZ(0);
    color: #fff;
}
